body{
    width: 80%;
    margin: auto;

}

#people{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,100px);
    text-align: center;
}

.personnage{
    margin: 10px;
    width: 70px;
    height: 60px;
    border-radius: 15px;
}

#people ,.container > div ,.container > div > div {
    background-color: gray;

}

.container > div{
    width: 30%;
    text-align: center;
}

.container > div > div{
    display: flex;
	justify-content:center;	
    flex-wrap: wrap;
}

.container{
    display: flex;
    justify-content: space-around;
    height: 80px;
    
}

.material-icons{
    font-size:60px;
}



